.DatePickerElement {
  width: 100px;
  background-color: transparent;
  padding: 16.5px;
  cursor: pointer;
  border-radius: 4px;
  border: solid 1px #C4C4C4;
}

.DatePickerElement:hover{
  border-color: rgba(0, 0, 0, 0.87);
}
