.DatePickerElement {
  width: 100px;
  background-color: transparent;
  padding: 16.5px;
  cursor: pointer;
  border-radius: 4px;
  border: solid 1px #C4C4C4;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.4375em;
}

.DatePickerElement:hover{
  border-color: rgba(0, 0, 0, 0.87);
}
